@model fragrance.Models.product

@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row justify-content-center">
    <div class="product_detail-col col-lg-5 col-md-5 col-sm-12">
        <img class="product_item-img" src="~/Assets/Images/Products/@Html.DisplayFor(model => model.image_pr)"/>
    </div>
    <div class="product_detail-col col-lg-4 col-md-4 col-sm-12">
        <h2 class="text-uppercase">@Html.DisplayFor(model => model.name_pr)</h2>
        <h5 class="product_detail-desc">@Html.DisplayFor(model => model.desc_pr)<br /></h5>
      @*  <h6>@Html.DisplayNameFor(model => model.created_at) @Html.DisplayFor(model => model.created_at)</h6>*@
        <div class="product_detail-price border d-flex justify-content-between p-4">
            <span>@Html.DisplayNameFor(model => model.volume_pr) @Html.DisplayFor(model => model.volume_pr) ml</span>
            <span>@Html.DisplayNameFor(model => model.price_pr) @Html.DisplayFor(model => model.price_pr) $</span>
        </div>
        <div class="text-center p-4">
            <a class="btn-add-cart btn btn-dark text-uppercase"
               href="@Url.Action("AddCart", "Carts", new { ms = Model.id_pr, url = Request.Url.ToString() })"
               role="button">
                Add to cart
            </a>
           
        </div>
        <div id="accordion">
            <div class="card  text-dark">
                <div class="card-header text-uppercase">
                    <a class="card-header-btn btn collapsed" data-bs-toggle="collapse" href="#collapseOne" aria-expanded="false">
                        <span>description</span>
                        <span><i class="bi bi-chevron-down"></i></span>
                    </a>
                </div>
                <div id="collapseOne" class="collapse" data-bs-parent="#accordion" style="">
                    <div class="card-body">
                        @Html.DisplayFor(model => model.desc_pr)
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-uppercase">
                    <a class="card-header-btn btn collapsed" data-bs-toggle="collapse" href="#collapseTwo" aria-expanded="false">
                        <span>@Html.DisplayNameFor(model => model.notes_pr)</span>
                        <span><i class="bi bi-chevron-down"></i></span>
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-bs-parent="#accordion" style="">
                    <div class="card-body">
                        @Html.DisplayFor(model => model.notes_pr)
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header text-uppercase">
                    <a class="card-header-btn btn collapsed" data-bs-toggle="collapse" href="#collapseThree" aria-expanded="false">
                        <span>@Html.DisplayNameFor(model => model.tips_pr)</span>
                        <span><i class="bi bi-chevron-down"></i></span>
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-bs-parent="#accordion" style="">
                    <div class="card-body">
                        @Html.DisplayFor(model => model.tips_pr)
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

