@model IEnumerable<fragrance.Models.product_type>

@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcrumb-section -->
<div class="breadcrumb-section hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Fresh and Organic</p>
                    <h1>Shop</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- products -->
<div class="product-section mt-50 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-filters">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        @foreach (var item in Model)
                        {
                            <li data-filter=".@item.name_prt.Replace(" ", "")">@item.name_prt</li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        @foreach (var item in Model)
        {
            if (item.products.Any())
            {
                <div class="row product-lists">
                    <div class="row @item.name_prt.Replace(" ", "")">
                        <div class="col-lg-8 offset-lg-2 text-center">
                            <div class="section-title">
                                <h3><span class="orange-text">@item.name_prt</span></h3>
                                <p>@item.desc_prt</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row product-lists">
                    @foreach (var pro in item.products)
                    {
                        <div class="col-lg-4 col-md-6 text-center @item.name_prt.Replace(" ", "")">
                            <div class="single-product-item">
                                <div class="product-image">
                                    <a href="@Url.Action("Product","Fragrance", new { id = pro.id_pr})"><img src="~/Assets/Images/Products/@pro.image_pr" alt=""></a>
                                </div>
                                <h3>@pro.name_pr</h3>
                                <p class="product-price"><span>@pro.volume_pr ml</span> @Html.FormatValue(pro.price_pr, "{0:#,##0}")$ </p>
                                <a id="addtocart" href="@Url.Action("AddCart", "Carts", new { ms = pro.id_pr, url = Request.Url.ToString() })" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                            </div>
                        </div>
                    }
                </div>
            }
        }

        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a class="active" href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end products -->