@model IEnumerable<fragrance.Models.product>
@{
    foreach (var td in Model)
    {
        ViewBag.Title = @td.product_type.name_prt;
        break;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @foreach (var td in Model)
    {
        <div class="breadcrumb-section" style="background: url(/Assets/Images/Product_type/@td.product_type.image_prt); background-repeat: no-repeat; background-position: center; background-attachment: fixed; background-size: cover">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 text-center">
                        <div class="breadcrumb-text">
                            <h1>@td.product_type.name_prt</h1>
                            <p>@td.product_type.desc_prt</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        break;
    }
</div>

<div class="container">
    <div class="list_product row mt-5">
        @foreach (var pro in Model)
        {
            <div class="col-lg-4 col-md-6 text-center @pro.name_pr">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="@Url.Action("Product","Fragrance", new { id = pro.id_pr})"><img src="~/Assets/Images/Products/@pro.image_pr" alt=""></a>
                    </div>
                    <h3>@pro.name_pr</h3>
                    <p class="product-price"><span>@pro.volume_pr ml</span> @Html.FormatValue(pro.price_pr, "{0:#,##0}")$ </p>
                    <a id="addtocart" href="@Url.Action("AddCart", "Carts", new { ms = pro.id_pr, url = Request.Url.ToString() })" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
        }
    </div>


</div>