@model fragrance.Models.UserLogin

@{
    ViewBag.Title = "Login";
}
<div class="p-5">
   

    @using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
        <div class="row justify-content-center p-4">
            <div class="col col-sm col-md-6 col-lg-4 shadow p-5 bg-light">
                <h2 class="text-uppercase text-center ">fragrance login</h2>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group p-2">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control p-2 border-0", @PlaceHolder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group p-2">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control p-2 border-0", @PlaceHolder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group d-flex justify-content-between p-4">
                    <button type="submit" class="btn btn-outline-dark">LOGIN</button>
                    <a class="btn btn-outline-dark" href="@Url.Action("Register", "User")">REGISTER</a>
                </div>
            </div>
        </div>

    }

</div>
